<div>
    <div class="table-container">
      <table mat-table [dataSource]="notesArr" multiTemplateDataRows>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row matRipple class="table-row" *matRowDef="let row; columns: displayedColumns"
          (click)="extandDetail = row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['extandDetail']" class="example-detail-row"></tr>
        <ng-container matColumnDef="extandDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail" [@detailExpand]="element == extandDetail ? 'expanded' : 'collapsed'">
              <div class="btn-controler">
                <button mat-icon-button matTooltip="Edit Note" (click)="editNote(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Remove Note" (click)="removeNote(element)" class="btn-remove">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </div>
          </td>
        </ng-container>
      </table>
    </div>
   <mat-card>
    <div class="table-footer">
      <button mat-raised-button color="primary" (click)="addProduct()">Add new product   </button>
    </div>
   </mat-card>
  </div>