<mat-toolbar color="primary">
    <span>Aionys</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="translate.use('ru')">{{ 'BUTTON.LANG.RU' | translate }}</button>
    <button mat-raised-button color="primary" (click)="translate.use('en')">{{ 'BUTTON.LANG.EN' | translate }}</button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container class="container">
  <app-note-table></app-note-table>
</mat-drawer-container>